@charset "utf-8";
/**头部**/
body{ font-family:"微软雅黑"; background: #E9E9E9;}
.ti_header{ width:100%; background:#fff; font-size:12px; margin-bottom:20px; }
.ti_header_top{ width: 100%; font-size: 12px; position: relative; background: #eee;}
.header_Top{ width:980px; height:36px; line-height:36px; margin:0 auto;}
.header_Top .top_left{width:102px; padding-right:28px; text-align:center; cursor:pointer;color:#505050;}
.header_tab{ 
	 position:absolute; 
	 width:100%;
	 top:36px; 
	 height:36px; 
	 background:#D6D6D6;
	}
.header_tab .type_tab{ width:980px; margin:0 auto; height:36px; line-height:36px;}
.header_tab .type_tab a{ float:left; padding:0 15px;color:#505050;}
.header_tab .type_tab a:hover{color:#9BC83C;}


.header_Top .icon_01{ background:#d6d6d6 url(../images/ti_head_001.png) no-repeat 103px 10px;}
.header_Top .icon_001{ background:#d6d6d6 url(../images/ti_head_01.png) no-repeat 103px 11px;}
/*.header_Top .img_03{
	           margin-left:3px;
	         
	           position:absolute;
	           top:12px;
}*/
.header_Top  .top_left .tikutab_circle_down{
	       position:absolute;
	       width:14px;height:14px;
	       border-radius:100%;
	       margin-left:2px;
	       margin-top:12px;
	       background-color:gray;
	       color:#fff;line-height:12px;
	       font-size:8px;
	       display: inline-block;
	       text-align:center;
	       transform:rotate(90deg);
          -ms-transform:rotate(90deg); 	/* IE 9 */
         -moz-transform:rotate(90deg); 	/* Firefox */
         -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
}
.header_Top .top_left  .tikutab_circle_up{
	       position:absolute;
	       width:14px;height:14px;
	       border-radius:100%;
	       margin-left:2px;
	       margin-top:12px;
	       background-color:gray;
	       color:#fff;line-height:12px;
	       font-size:8px;
	       display:inline-block;
	       text-align:center;
	      transform:rotate(270deg);
          -ms-transform:rotate(270deg); 	
         -moz-transform:rotate(270deg); 
         -webkit-transform:rotate(270deg);
}
	   
	      

.top_right ul li{float:left;color:#505050;}
.top_right li{ margin-left: 5px;}
.top_right ul li a{color:#505050;}
.top_right .ti_weixin{position:relative;}
.top_right .ti_weixin a:hover{color:#505050;}
.top_right .ti_weibo{position:relative;}
.top_right .ti_weixin .wx{position:absolute;width:178px;height:60px;border:2px solid #EEEEEE;top:36px;right:0;padding:2px;z-index:6000;background-color:#fff;}
.top_right .ti_weixin .wx img{margin:2px;}
.top_right .ti_weixin .wx .left{float:left;width:58px;}
.top_right .ti_weixin .wx .right{float:left;margin-left:4px;padding:0px;width:100px;height:60px;padding-top:5px;}
.top_right .ti_weixin .wx .right p{margin:0;padding:0;}
.top_right .ti_weibo .wb{position:absolute;width:208px;height:60px;border:2px solid #EEEEEE;top:36px;right:0;padding:2px;background-color:#fff;}
.top_right .ti_weibo .wb .left{float:left;width:58px;}
.top_right .ti_weibo .wb .right{float:left;margin-left:7px;padding:0px;width:120px;height:60px;padding-top:5px;}
.top_right .ti_weibo .wb .right p{margin:0;padding:0;}
.top_right .ti_app{position:relative;}
.top_right  .ti_app  .mobile .left{float:left;width:58px;}
.top_right  .ti_app  .mobile .right{float:left;margin-left:4px;padding:0px;width:100px;height:60px;padding-top:5px;}
.top_right  .ti_app  .mobile .right p{margin:0;padding:0;}
.top_right .ti_app  .mobile{ position:absolute;width:178px;height:60px;border:2px solid #EEEEEE;top:36px;right:0;padding:2px;z-index:5000;background-color:#fff;}
.top_right  .ti_app  .mobile img{margin:2px;}
.ti_user_list{
	        min-width: 70px;
            cursor: pointer;
            position: relative;
            padding: 0px 18px 0px 22px;
	        }

.ti_user_txt{
	     font-size: 12px;
         text-align: center;
         line-height: 36px;
	      
	  }

.ti_user_txt .username_left_circle{width:12px;height:12px;border-radius:100%;background-color:#9BC83C;margin-right:2px;display:inline-block;
	margin-top:12px;
}
.ti_user_txt .username_right_down{ 
	font-weight:bolder;font-size:8px;margin-left:4px;line-height:12px;
	transform:rotate(90deg);
    -ms-transform:rotate(90deg); 	/* IE 9 */
   -moz-transform:rotate(90deg); 	/* Firefox */
   -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
}
.ti_user_txt .username_right_up{
   font-weight:bolder;font-size:7px;margin-left:4px;
	transform:rotate(270deg);
    -ms-transform:rotate(270deg); 	/* IE 9 */
   -moz-transform:rotate(270deg); 	/* Firefox */
   -webkit-transform:rotate(270deg); /* Safari 和 Chrome */
}
.ti_user_list  .dl_down{padding-top:6px;position:absolute;top:36px;right:8px;
	                 border:1px solid transparent;
	                 height:129px;width:110px;
	 }
.ti_user_list .dl_down_content{position:absolute;
	             width:110px;
	             top:6px;
	             right:-3px;
	             padding-top:2px;
	           
	             padding-bottom:1px;
	             height:110px;
	             background-color:#98C96A;
	           
	             z-index:6000;
	          
                }
.ti_user_list .dl_down_content:after{
	content:'\20';
    display:block;
    width:0;
    height:0;
    left:90px;
    top:-8px;
    position:absolute;
    border-width:0 6px 8px;
    border-style:none solid solid;
    border-color:transparent transparent #98C96A;}

.ti_user_list dl dt{line-height:36px; text-align: center; cursor: pointer;}
.ti_user_list dl dt a{ color: #fff; display: block;}
.ti_user_list dl dt span{color:#fff;display:block;}
.ti_user_list dl dt:hover{ background: #81B252; }
.ti_user_list dl dt a:hover{color: #d1f3b1;}

.ti_user_list .ti_exit{ border-top:1px solid #ACDC80;}

.ti_user_info{cursor:pointer;position:relative;text-indent:8px;line-height:36px;height:36px; margin-right: 10px;}
.ti_user_info span{ display: block; width:50px;margin-right: 5px;}
.ti_user_info_num{position:absolute;top:11px;text-indent:0px;text-align:center;right:0px; height:14px;padding:0 3px;color: #fff; 
	line-height:14px;border-radius:2px;background:#e88c30;}


.ti_before_login{width:55px;line-height:36px;text-align:center;}
.ti_before_login span{cursor:pointer;}
.ti_before_login span:hover{color:#9BC83C;}
.ti_before_login a:hover{color:#9BC83C;}
.ti_app{width:55px;line-height:36px; text-align: center;}
.ti_app a:hover{color:#9BC83C;}
.ti_weixin{width:45px;line-height:36px; text-align: center;}
.ti_weixin a:hover{color:#9BC83C;}

.ti_weibo{width:45px;line-height:36px;text-align:center;}
.ti_weibo a:hover{color:#9BC83C;}



.ti_header .header_type{ width: 100%; height:52px; padding:25px 0 24px 0; background:#fff; }
.ti_header .header_type .header_type_list{ width:980px; height:52px; margin:0 auto; line-height:52px;}
.header_type_list .logo{ height: 52px;  float:left; }
.header_type_list .nav_right{ width: 815px; float: left; height: 52px;text-align: center;}
.header_type_list .nav_right .sild_list{width:260px; margin-right: 190px; float: right;}
.header_type_list .sild_list li{ float:left; margin-right:40px; font-size:18px;}
.header_type_list .sild_list li a{ float:left; color:#aeaead; height: 52px; line-height: 52px;}
.header_type_list .sild_list li a:hover{color:#9BC83C;}
.header_type_list .sild_list .li_act a{ color:#000;}
.header_type_list .sild_list .li_select a{ color:#464646;}
.header_type_list .sild_list li .sp{ border-left:1px solid #ddd; width:1px; float:left; height:21px; margin-top:40px; margin-right:30px;}
.header_type_list .sild_list .sild_test{ margin-right:30px;}




.ti_header .header_menu{ width:100%; height:46px;background:#41790C;}
.ti_header .header_menu ul li{ float:left; width:179px; line-height:46px; text-align:center; font-size:18px; color:#fff; border-right:1px solid #2D5B02; cursor:pointer;}
.header_menu .heade_nav{ width:979px; height:46px; margin:0 auto; border-left:1px solid #2D5B02; }
.header_menu .heade_nav .nav_select{ width:180px;height:46px;background-color:#9BC83C;position:relative;color:#fff; }
.header_menu  .heade_nav .nav_select:after{
						    content:'\20';
						    display:block;
						    width:0;
						    height:0;
						    left:80px;
						    bottom:0;
						    position:absolute;
						    border-width:0 6px 6px;
						    border-style:none solid solid;
						    border-color:transparent transparent #E9E9E9;
					}
.header_menu .heade_nav .nav_deault{background-color:#41790C;width:180px;height:46px;position:relative;color:#fff;}

	                                  
  

  



/*广告位*/
.adbar{ 
	width: 978px; height: 99px; 
	border: 1px solid #ddd; 
	background: #fff;
	 margin:20px auto;
	 position: relative;
	 overflow: hidden;
	
}
.adbar .scroll {width:9999em;position:absolute;}
.adbar .scroll li{float:left;width:978px;}
.adbar img{width:978px;height:99px;}
.adbar .controllers {position:absolute;top:78px;left:45%}
.adbar .controllers li{width:12px;height:12px;border-radius:100%;background-color:#505050;opacity:0.6;margin-right:15px;float:left;}
.adbar .controllers li:hover{cursor:pointer;}
.adbar .controllers .current{background-color:red;}
.adbar .left-controller{
	font-size:50px;
	position:absoulte;

	opacity:0.5;

	color:#fff;
	float:left;
	width:35px;
	height:99px;
	line-height:99px;
	text-align:center;
	cursor:pointer;
}
.adbar .right-controller{
	font-size:50px;
	position:absoulte;
	float:right;
	opacity:0.5;
	
	color:#fff;
	width:35px;
	height:99px;
	line-height:99px;
	text-align:center;
	cursor:pointer;
}
.adbar .left-controller:hover,.adbar .right-controller:hover{color:#9BC83C;	background-color:#333;}






/*内容*/
.ma_container{ width: 980px; margin:0 auto;min-height:400px;}
.ma_content{ width: 999px; margin-right: -10px; margin:0 auto;}
.ma_content .ma_test{
                    width:314px; height: 406px; 
                    border:1px solid transparent;
                    margin-right: 13px; 
                    margin-bottom: 18px; 
                    float: left;  background: #fff;
                    box-shadow:0px 2px 2px #CFCFCF;
                   -moz-box-shadow:0px 2px 2px #CFCFCF;
                   -webkit-box-shadow:0px 2px 2px #CFCFCF;
                   }
.ma_content .ma_test:hover{border:1px solid #FF8400;}
.ma_contetn .ma_test{border:1px solid #FF8400;}
.ma_content .ma_test .ma_test_title{ margin: 18px 0 14px; padding: 0 10px; position: relative;}
.ma_content .ma_test .ma_test_title img{ position: absolute; top:0;}
.ma_content .ma_test .ma_test_title .jian{width:20px;height:20px;

	color:#fff;background-color:#FF8400;
	border-radius:3px;text-align:center;
	font-size:15px;position:absolute;top:0;display: inline-block;
}
.ma_content .ma_test .ma_test_title h3{ font-weight:normal; font-size: 18px; color: #000; line-height: 20px; margin-left: 28px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.ma_content .ma_test .ma_img img{ 
	                        width:284px; height:183px;
	                        padding:0 15px;
	                        margin-bottom: 10px;
	                        cursor:pointer;
	                    }
.ma_content .ma_test .ma_time{ line-height: 22px; padding: 0 15px; font-size: 14px; color: #ff8400;margin-bottom: 5px;}
.ma_content .ma_test p{ 
	                 font-size: 14px; color: #898888; 
	                 line-height: 24px; 
	                 padding: 3px 15px;
	                 height:40px;
	                 overflow:hidden;
	                 text-overflow:ellipsis;
	                 display: -webkit-box;
	                 -webkit-box-orient: vertical; 
	                 -webkit-line-clamp: 2;
                   }
.ma_content .ma_test .ma_price{ float: left; width: 160px; height: 40px; background:#FF8400; text-align: center; line-height: 40px; font-weight: bold; font-size: 24px; color: #fff; margin:16px 77px;cursor:pointer; }

/*砖图书*/
.ma_content .fn{ width: 312px; height: 376px; border: 1px solid transparent;margin-right: 19px; margin-bottom: 18px; float: left;  background: #fff;box-shadow:0px 2px 2px #BF9C77;
-moz-box-shadow:0px 2px 2px #BF9C77;
-webkit-box-shadow:0px 2px 2px #BF9C77;}
.ma_content .fn:hover{border:1px solid #FF8400;}
.ma_content .fn .ma_test_title h3{ margin-left: 20px;}





/*分頁*/
.ma_page{padding:10px 12px 30px;clear:both;text-align:center;
font-family:Arial, "\5B8B\4F53", sans-serif;font-size:14px;vertical-align:top} 
.ma_page div{display: inline-block;height:28px;line-height: 28px;padding: 0 10px;background: #fff;
overflow: hidden;vertical-align: top;border:1px solid #ddd;margin-right: 5px;}
.ma_page div:hover{background:#B7D082;border:1px solid  #A2BD69;cursor:pointer;}

.ma_page div, .ma_page div:visited{color:#5b5b5b} 
.ma_page div:hover, .ma_page div:active{color:#ffffff} 
.ma_page .current{background:#B7D082;border:1px solid #A2BD69;color:#fff}

.ma_page div.current, .ma_page div.current:visited{color:#ffffff} 
.ma_page div.current:hover, .ep-pages div.current:active{color:#ffffff} 
.ma_page .total{background-color:#fff;color:#333;}
.ma_rig{ text-align: right; padding: 30px 0 10px; margin-right: -5px; }




/*课程详情购买*/
.ma_container .ma_top{ width: 940px; height: 260px; padding: 20px; background: #fff; margin-bottom:20px;box-shadow:0px 2px 2px #CFCFCF;
-moz-box-shadow:0px 2px 2px #CFCFCF;
-webkit-box-shadow:0px 2px 2px #CFCFCF;}
.ma_top .ma_top_img img{ width: 400px; height: 260px;}
.ma_top .ma_message{ width:500px;height: 260px; padding-left: 39px; position: relative;}
.ma_top .ma_message h3{ font-size: 18px; color: #000; font-weight: normal; line-height: 22px; margin-bottom: 8px;}
.ma_top .ma_message p{ font-size: 14px; color: #888888; line-height: 30px; padding: 0;}
/*price*/
.ma_top .ma_message div{ 
	              display:inline-block;
	              margin-top: 20px;  
	              font-size: 42px; 
	              line-height: 42px; 
	              color: #ff8400;
	              position:absolute;
	              bottom:8px;
	                }
	           
.ma_top .ma_message .ma_join{ display:inline-block; width: 160px; height: 42px; 
	background: #FF8400; font-size: 18px; 
	color: #fff; line-height: 42px; text-align: center; 
	position: absolute; right: 0; bottom: 0; cursor: pointer;}


.ma_bottom{ width: 980px; margin-bottom: 30px;}
.ma_bottom .ma_left{ 
	width: 730px; min-height: 770px; 
	background:#fff;box-shadow:0px 2px 2px #CFCFCF;
	-moz-box-shadow:0px 2px 2px #CFCFCF;
   -webkit-box-shadow:0px 2px 2px #CFCFCF;
}
 .ma_bottom .extension_tab{position:fixed;top:0;width:730px;background:#fff;}
.ma_bottom .ma_left .ma_left_tab{ width: 730px; height: 57px; border-bottom: 3px solid #9BC83C;overflow:hidden;}
.ma_bottom .ma_left .ma_left_tab span{ display:inline-block;width: 146px;  line-height: 60px; text-align: center;  font-size: 16px; float: left; color: #010101; cursor: pointer;}
.ma_bottom .ma_left .ma_left_tab .li_current{background: #9BC83C;color: #fff;}

.ma_bottom .ma_left .ma_left_info{padding:10px;overflow:hidden;}
.ma_bottom .ma_left .ma_left_info img{max-width:650px;}
.ma_bottom .ma_left .ma_left_info h4{ font-size: 14px; color: #000; font-weight:normal; margin-top: 20px; line-height: 22px; padding: 0 30px; margin-bottom: 5px;}
.ma_bottom .ma_left .ma_left_info span, p{ color:#888888; font-size: 14px; padding:0 30px;  line-height: 24px;}
.ma_bottom .ma_left .ma_left_info p{ margin-bottom: 25px;}
.ma_bottom .ma_left .ma_left_info ul li span{ display:inline-block; width: 170px;}
.ma_bottom .ma_left .ma_left_info .sp{text-indent: 30px;}


.ma_bottom .ma_right{ width: 230px; height: 770px;}
.ma_right img{width:230px;height:373px;}
.ma_bottom .ma_right .ma_right_top, .ma_right_bottom{height: 373px; background: #fff; border: 1px solid #CDCDCD;}
.ma_bottom .ma_right .ma_right_top{ margin-bottom: 20px;}




/*我的购买列表*/
.ma_container .ma_had_title{ width:958px; height: 56px; line-height: 56px; padding-left: 22px;  font-size: 18px; color: #000; background: #F6F6F6;}
.ma_had{ background: #fff; padding: 20px; margin-bottom: 20px; min-height: 323px;box-shadow:0px 2px 2px #CFCFCF;
-moz-box-shadow:0px 2px 2px #CFCFCF;
-webkit-box-shadow:0px 2px 2px #CFCFCF;}
.ma_had .ma_tab, .ma_had_list{width: 948px; height: 57px;border-bottom: 3px solid #9BC83C; background: #F6F6F6;}
.ma_had .ma_tab ul li, .ma_had_list ul li{ 
	                    float: left; width: 315px; 
	                    height: 57px; border-right: 1px solid #E6E6E6; 
	                    text-align: center; line-height: 57px; 
	                    font-size: 16px; color: #000;  cursor: pointer;
	                }
.ma_had .ma_tab .li_current{
                       width:316px;
                       background: #9BC83C;color: #fff;
                       border: 0;
                    }
.ma_had .ma_tab .li_last{ 
	                   width:316px;
	                    border: 0;
	                }

.ma_had .ma_class{ width: 908px; min-height:660px; 
	border-left: 1px solid #ddd; 
	border-right:1px solid #ddd;border-bottom :1px solid #ddd; 
	padding: 0 19px;font-size: 14px;
    
}

.ma_had .ma_class ul li{ border-bottom: 1px  solid #ddd;padding-left:3px;padding-top:18px;padding-bottom:18px;}
.ma_had .ma_class .ma_class_name{ 
	                    color: #000; 
	                    font-size:16px;
	                    display: inline-block; 
	                    width: 320px;
	                    overflow:hidden;
	              
	               }
	                  
	                
.ma_had .ma_class .ma_class_name:hover{color:#9BC83C;cursor:pointer;}
.ma_had .ma_class .info{margin-top:5px;}
.ma_had .ma_class .teachers{
	              display: inline-block;  
	              color: #888888;
	              width:200px;
	              overflow:hidden;
	              height:20px;
	              margin-left:40px;
	              text-overflow:ellipsis;
	              overflow:hidden;white-space:nowrap;text-overflow:ellipsis;
	          
                  
	                   
}	               
.ma_had .ma_class .paytime{
	              display: inline-block;  
	              color: #888888;
	              width:240px;
	              overflow:hidden;
	              height:20px;
	              margin-left:40px;
}

.ma_had .ma_class .shang{ display: inline-block;  
	              color: #888888;
	              width:268px;
	              overflow:hidden;
	              height:20px;
	              margin-right: 40px;
	             }
.ma_had .ma_class .ma_check{  
	                  height: 20px; float: right; 
	                  color: #73a900;cursor:pointer; 
	              }
.ma_had .ma_class .ma_check:hover{color:#41790C;}
.ma_had .ma_class .li_noline{ border-bottom: 0;}
	          
	          

	                
	              

                      
	               






/*购买详情*/
.ma_had .ma_had_list ul li{ width: 189px;}
.ma_had .ma_had_list .li_current{ background: #9BC83C;color: #fff; border: 0;}
.ma_had .ma_had_list .li_last{ 
	          width: 188px; border: 0;
}
.ma_container .ma_had_title a{ text-decoration: underline; color: #1a47d7; font-size: 14px; margin-left: 20px; line-height: 56px; display:inline-block;}
.ma_had .f1{ background: #F9F9F9; padding-bottom: 7px; width: 908px; border: 1px solid #ddd;}
.ma_had .ma_class  h5{ font-size: 12px; font-weight: normal; color: #888888; height: 20px; line-height: 20px; padding:25px 0; display:inline-block;}
.ma_had .ma_class .ma_boke, .ma_boke1{ 
	position: relative; 
	margin: 4px 40px 43px 40px; 
	padding: 10px 0 10px 52px;
	height: 42px; 
	line-height: 42px;

}
.ma_had .ma_class .ma_boke .item-circle{
	        width:22px;
	        height:22px;
	        border-radius:100%;
	        border:5px solid #9BC83C;
	        background-color:#fff;
	        position:absolute;
	        left:1px;
}
.ma_had .ma_class .ma_boke .item-tiao{
	       height:80px;
	       width:3px;
	       position: absolute;
	       left:16px;
	       top:37px;
	       background-color:#9BC83C;

}
.ma_had  .ma_class .ma_boke span{color:#fff;}
.ma_had .ma_class .ma_boke  .ma_boke_left{ font-size: 14px; height: 42px; line-height: 20px;}
.ma_had .ma_class .ma_boke  .ma_boke_left span, .ma_boke1 .ma_boke_left span{ color:#000;}
.ma_had .ma_class .ma_boke  p{padding: 0; font-size: 14px; color: #888888; }
.ma_had .ma_class .ma_boke .ma_look_a, .ma_default_a, .ma_cheng_a{ 
	                       display: block; 
	                       background: #9BC83C; 
	                       color: #fff; 
	                       font-size: 16px; 
	                       text-align: center; 
	                       line-height: 42px; 
	                       width: 160px; height: 42px;
	                       cursor:pointer;
	                       border-radius:5px;
	                       opacity:1.0
	                   }
.ma_had .ma_class .ma_boke .ma_look_a:hover, .ma_cheng_a:hover {
                           opacity:0.9;
}	                   
.ma_had .ma_class .ma_boke .ma_default_a{
	                        background: #B2B2B2;
	                        cursor:default;

	                      }
.ma_had .ma_class .ma_boke .ma_cheng_a{background: #FF8400; }
.ma_had .ma_class .ma_boke .ma_color span { color:#FF8400; }
.ma_had .ma_class .ma_boke .ma_color p { color:#FF8400; }
.ma_had .ma_class .sp1{ display:inline-block; margin-left: 65px; color: #FF8400; font-size: 12px;}
.ma_had .ma_class .sp2{ display: inline-block; margin-left: 165px; text-decoration: underline;  color: #1a47d7;}
.ma_had .ma_class .ma_boke1{ margin: 4px 40px; background: none; padding-left: 20px;}
.ma_had .ma_class .ma_boke1 img{ position: absolute; left: 0; top:23px;}
.ma_had .ma_class .ma_boke1 .ma_look_a{background: #B2B2B2;  display: block; background: #9BC83C; color: #fff; font-size: 16px; text-align: center; line-height: 42px; width: 160px; height: 42px;}
.ma_had .ma_class .div{ height: 70px;}

.ma_container .ma_wu{ width: 980px; min-height: 785px; background: #fff; margin-bottom: 20px;box-shadow:0px 2px 2px #CFCFCF;-moz-box-shadow:0px 2px 2px #CFCFCF;
-webkit-box-shadow:0px 2px 2px #CFCFCF;}
.ma_wu p{ text-align: center; padding-top: 115px; padding-bottom: 50px; color: #000;}
.ma_wu .ma_look{ display: block; width: 160px; height: 42px; line-height: 42px; margin: 0 auto; background: #FF8400; font-size: 16px; color: #fff; text-align: center; cursor: pointer;}
/*订单详情*/
.ma_order_details{ padding:20px; background: #fff;height:660px;margin-bottom:20px;}
.ma_order_details p{ padding: 0; line-height: 22px; margin-bottom: 20px;}
.ma_order_details h4{ font-size: 18px; color: #000; line-height: 32px; font-weight: normal; margin-bottom: 14px;}
.ma_order_details .ma_type_tab{ width: 940px; height: 57px; border-bottom: 3px solid #9AC93D;}
.ma_order_details .ma_type_tab span{ float: left; width: 470px; height: 57px; line-height: 57px; text-align: center;font-size: 14px; color: #010101; cursor: pointer;}
.ma_order_details .ma_type_tab .current{ background:#9AC93D; color: #fff;  }
.ma_order_details .ma_weixin{ margin:77px 249px 0 229px; background: url(../images/img/ma_weixin.png) no-repeat -8px -5px; height: 153px;}
.ma_order_details .ma_weixin .weixin_code{ width: 149px; height: 147px; float: right;}

.ma_order_details .ma_zhifub{ margin:80px 249px 0 229px;background: url(../images/img/zhifubao.png) no-repeat 8px 35px; height: 153px;}
.ma_order_details .ma_zhifub .zhifub_code{ width: 149px; height: 147px; float: right; background: url(../images/img/ma_zhifub_code.png) no-repeat; margin-top: 3px;}

.ma_order_type .ma_type_zhifu{ margin-top: 30px; padding: 0 40px 0 60px;}
.ma_order_type .ma_type_zhifu span{ display: block; line-height: 22px; font-size: 14px; color: #000; margin-bottom: 5px;}
.ma_order_type .ma_type_zhifu .ma_wangy{ margin-top: 23px;}
.ma_order_type .ma_fukuan{ display: block; width: 160px; height: 42px; line-height: 42px; font-size: 14px; color: #fff; text-align: center; background: #FF8400; margin:0 auto; margin-top: 68px;cursor:pointer;}
.ma_order_type .ma_type_zhifu .label_radio{width: 152px;display:inline-block; height: 42px;margin-right:33px; cursor:pointer; margin-bottom: 10px;}
.ma_order_type .ma_type_zhifu .radios{ display:inline;}
.has-js .label_radio{ padding-left: 22px; }
.has-js .label_radio{background:url(../images/ma_radio.png) no-repeat;}
.has-js .label_radio{background-position:0 14px;}
.has-js label.r_on{background-position:0 -47px;}
.has-js .label_radio input { position: absolute; left: -9999px; } 
/*弹出层*/
.ma_cover_bg{width:100%;height:100%;position:fixed;top:0;left:0;z-index:1;background:#000;filter:alpha(opacity=20);opacity:0.2;}

.log_content_model{ width:380px; background:#fff; padding:38px 30px 20px; z-index:9999;position:absolute;top:30%;left:50%;margin-left:-220px;}
.log_moedel_title{ width:380px; font-size:14px; color:#2a2a2a; margin-bottom:18px; text-align:center; font-weight:bold;}
.log_moedel img{ position:absolute; right:15px; top:15px;}

.log_left input{ border:0px;width:340px;line-height:20px; padding:8px 0px;float:right; margin-right:2px;color:#acacac;opacity:1; font-size:12px; position:absolute; top:1px; left:38px;}
.log_left .login_title{ width:380px;line-height:18px; font-size:18px; color:#010101; margin-bottom:20px;}
.log_left .form_login .inp{ background-image:url(../images/login.png); background-repeat:no-repeat;}
.log_left .form_login .inp{ width:380px; height:38px;}
.log_left .form_login .inp_account{ background-position:0px 0px; margin-bottom:15px; padding-top:2px; position: relative;}
.log_left .form_login .error{color:#ff0000;font-size:16px;display:none;}
.log_left .form_login .inp_pass{background-position:0px -150px; margin-bottom:20px; padding-top:2px; position: relative;}

.log_left .form_login .Cinput{position:relative;width:380px;height:12px;line-height:12px; margin-bottom:20px; font-size:12px;}
.log_left .form_login .Cinput .C-zidong{left:6px;height:12px; width:100px; height:12px; position:absolute; color:#999999;}
.log_left .form_login .Cinput .C-forget{left:10px;height:12px; width:100px; height:12px;  left:280px;position:absolute; text-align:right;}
.log_left .form_login .Cinput label{position:relative;float:left;width:130px;display:block; margin-left:10px; color:#aaaaaa;}
.log_left .form_login .Cinput a{color:#5a5a5a;font-family:"宋体";}
.log_left .form_login .Cinput .checkInput{margin:0;padding:0;width:12px;height:12px; float:left; position:absolute; top:0; left:0;}
.log_left .form_login .btn_login{ width:380px; height:40px;margin-bottom:11px;}
.log_left .form_login .btn_login button{ border: 1px solid transparent; border-radius: 4px;}

.log_left .form_login .btn_login .btn_re:hover{ background:#41790C;}
.log_left .btn_login .btn_re{width:380px; height:40px;color:#fff; background:#9AC93D; float:left; text-align:center; line-height:40px;font-size:16px; font-weight:bold;}
.log_left .form_login .Cinput .no_account{ width:auto; height:12px; position:absolute; right:0; color:#666666;display:block; font-family:"宋体";}
.log_left .form_login .Cinput .regist{ color:#9ac93d;}
.log_left .form_login .Cinput a:hover{ text-decoration:underline; color:#41790C;}
	             


/*弹窗提示*/
.ma_confirm {background: #fff;width: 284px; padding:35px 30px 40px;z-index:9999;position:absolute;top:40%;left:50%;margin-left:-170px;}
.ma_confirm img {position: absolute;right: 15px;top: 15px;cursor: pointer;}
.ma_confirm_txt {line-height: 24px;font-size: 14px;font-weight: bold;color: #000;text-align: center;}
.ma_confirm_btn { margin-top:25px;font-size: 14px;}

.ma_confirm_know {width: 136px;margin-left: 74px; display: block; height: 30px; line-height: 30px; text-align: center; color: #fff; font-size: 14px; background: #9AC93D;cursor:pointer;}



/*收货地址*/
.ma_modle{ background: #fff;padding: 35px 50px 40px 40px;z-index:9999;position:absolute;top:200px;left:50%;margin-left:-410px;width:650px;}
.ma_modle img{position: absolute;top: 15px;right: 15px; cursor: pointer;}
.ma_modle h4{ font-size: 14px; color: #2a2a2a; line-height: 24px;}
.ma_modle p{ margin:8px 0 18px; line-height: 24px;  font-family: "宋体"; font-size: 12px; color: #7eb80c; padding: 0;}
#form{font-family: "宋体"; font-size: 12px;}
.ma_modle .form_inp{ margin-bottom: 10px;}
.ma_modle .error{color:#ff0000;padding-left:100px;margin-bottom:10px;}
.ma_modle .form_inp span{ display: block; width: 80px; color: #2a2a2a; float: left; text-align: right; line-height: 40px; margin-right: 11px;}
.ma_modle .form_inp input{ float: left; width: 369px; height: 38px; border: 1px solid #ddd; padding-left: 10px;}
.ma_modle .form_inp .f_sel{ float: left; width:160px; height: 38px; background: url(../images/ma_down.png) no-repeat right 0; border:  1px solid #ddd; padding-left: 10px; margin-right: 10px; line-height: 38px; cursor: pointer; position: relative;}
.ma_modle .ma_next{ width:200px; height: 40px; background: #9AC93D; color: #fff; font-size: 14px; font-family: "微软雅黑"; display: inline-block; text-align: center; line-height: 40px; margin-left: 100px;margin-top:12px;border-radius:5px;}
.ma_modle .ma_next:hover{ background: #41790C;cursor:pointer;}
/*.ma_modle .paybtn{background-color:#FF4400;}
.ma_modle  .paybtn:hover{background-color:#E43100;}*/
.ma_modle .change_address{font-size:14px;margin-left:14px;color:#9AC93D;text-decoration: underline;}
.ma_modle .change_address:hover{cursor:pointer;color:#505050;}
.ma_modle  .wuliu{font-size:18px;color:#505050;padding-left:50px;font-weight: bolder;font-family: "微软雅黑";}
.f_sel ul {position: absolute;top: 40px;left: -1px;width:170px;padding: 10px 0;background: #E5E5E5;height:250px; overflow-y: scroll;}
.f_sel ul li {line-height:20px;padding-left: 10px;cursor: pointer;}
.f_sel .ti_selected_li {color: #70a900;}
.f_sel ul li:hover{color:#fff;background-color:#9BC83C;}


/**尾部**/
.ma_footer{ width:100%; height:53px; padding:40px 0; background:#303E40; z-index:9999; }
.ma_footer .ma_foot{ width:1001px; height:53px; margin:0 auto;}
.ma_footer .ma_foot .foot_left{ width:338px; margin-left:30px; float:left;}
.ma_footer .ma_foot .foot_right{  float:left; margin-left:48px;}
.ma_footer .ma_foot .flinks,.flinks a,.copyright{color:#fefefe;line-height:22px;}



/*点播*/
.video{
	   background-color: #333;
	   width:100%;
	   height:920px;
}
.video .header{
			height:60px;
			text-align:center;
			color:#fff;
			font-size:16px;
			line-height:60px;  
			position:relative;
			border-bottom:1px solid #000;
			padding-left:100px;
	        padding-right:30px;
}
.video .player{
	   padding-top:100px;
	   padding:10px;background-color:#333;
	   /*width:1000px; */
	   padding-top:2px;
	   padding-left:100px;
	   padding-right:40px;
	   /*margin:0 auto;*/
	   height:100%;
}

.video .header .gobackBtn{
	  display:inline-block; 
	  width: 160px; 
	  height: 42px; 
	  background: gray;
	  font-size: 18px; 
	  color: #fff; 
	  line-height: 42px; 
	  text-align: center; 
	  position;relative;
	  float:left;
	  margin:5px;
	  cursor: pointer;

}
/*返回顶部按钮*/
.gotoTop{
	  position:fixed;
	  cursor:pointer;
	  /*display:none;*/
	  right:200px;
	  width:30px;height:100px;
	  background:url(images/topback.png) no-repeat;
	  border:2px solid red;


}













	              
















	   
	  
	  




