/* CSS Document */
/*头部*/
#header {
	width:100%;
	height:50px;
	float:left;
	background:#ffffff;
	min-width: 1024px;max-width:1920px;
	z-index:9999;
	position:relative;
}

#header .logo {
	float:left;
	width:200px;
	background:#1fb5ac;
	height:50px;
}

#header .logo .yuan {
	background:#5cc7c1;
	width:25px;
	height:25px;
	border-radius: 100%;
	float:left;
	margin:12.5px 0 0 15px;
	border:1px solid #19aca4;
}

#header .logo h1{
	color:#fff;
	width:75px;
	margin:16px 0 0 20px;
	font-size:18px;
	float:left;
}

#header .shop_info {
	float:right;
	height:50px;
	float:left;
}
#header .shop_info img {
	margin-left:25px;
	margin-top:10px;
	float:left;
}
#header .shop_info .stat_info {
	color:#767676;
	font-size:17px;
	margin-top:13px;
	float:left;
	text-align:center;
	padding-left:10px;
}
#header .shop_info .today_amount {
	background:url(../images/markIco.jpg) no-repeat right center;
	cursor:pointer;
	padding-right:20px;
}
#header .shop_info .title {
font-size: 10px;
  background: #f3f3f3;
  float: left;
  color: #767676;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 12px;
  width: 240px;
  line-height: 22px;
  display:none;	
}
.user_div {
	display:block;
	width:130px;
	height:50px;
	float:right;
	margin-right: 5px;
}
 #header .user_info {
	cursor:pointer;
	font-size:16px;
	width:130px; 
	height:30px;
	background-color: #ececec;
	float:right;
	text-align: center;
	margin-top:10px;
	line-height: 30px;
	border-radius: 20px;
	position: relative;
}
#header .user_info img {
	position: absolute;
	top:13px;
	right:10px;
}

#header .menu{
	width:130px; 
	border:1px solid #DDDDDD; 
	background:#fff; 
	position:absolute; 
	border-radius:5px; 
	display: none;
}
#header .menu li{
	height:40px;
	line-height:40px;
	text-align: center;
	cursor: pointer;
	color:#5c6371;
	font-size:13px;
}
#header .menu li:hover {
	background:#ECECEC;
	color:#1FABA4;
}


/* 侧边栏显示时的状态 */
.sidebar_show {
	background:#29282e;
	min-height:500px;
	width:200px;
	text-align: center;
	color:#82878b;
	height:100%;
	position: fixed;
	top:50px;
}

.sidebar_show .side_menu li,.sidebar_hide .side_menu li {
	cursor: pointer;
}
.sidebar_show .side_menu .parent,.sidebar_hide .side_menu .parent {
	height:50px;
	background:#32323a;
	line-height: 50px;
	position: relative;
	font-size:14px;
}
.sidebar_show .side_menu .parent:hover,.sidebar_hide .side_menu .parent:hover {background:#202025;}
.sidebar_show  .side_menu .parent .icon {
	float:left;
	position: absolute;
	left:20px;
	top:15px;
}
.sidebar_show  .side_menu .parent .direction {
	float:right;
	position: absolute;
	right:15px;
	top:23px;
}

.sidebar_show  .side_menu .son {
	background:#28282E;
	height:50px;
	line-height: 50px;
	display:none;
	background:url(../images/menu/son_normal.png) no-repeat 26px 22px;
	font-size:14px;
}
.sidebar_show  .side_menu .son a.url,.sidebar_hide  .side_menu .son a.url{
	color:#82878b;
	position: relative;
	display:block;
	font-size:14px;
}

.sidebar_show  .side_menu dt.active {background:#202025;}
.sidebar_show  .side_menu dt.active a.url {
	color:#1dafa5;
	background:url(../images/menu/son_hover.png) no-repeat 26px 22px;
}

/*收缩状态*/
.sidebar_hide {
	background:#29282e;
	min-height:500px;
	width:50px;
	text-align: center;
	color:#82878b;
	padding-bottom: 300px;
	height:100%;
	position: fixed;
	top:50px;
}

.sidebar_hide  .side_menu .parent .icon {
	position: absolute;
	left:15px;
	top:15px;
}

.sidebar_hide .side_menu .parent span,.sidebar_hide  .side_menu .parent .direction  {
	display:none;
}

.sidebar_hide  .side_menu .son {
	height:50px;
	line-height: 50px;
	color:#82878b;
	display:none;
	position: absolute;
	background:#28282E url(../images/menu/son_normal.png) no-repeat 26px 22px;
}
.sidebar_hide  .side_menu dt.active {background:#202025;}
.sidebar_hide  .side_menu dt.active a.url {color:#1dafa5;background:url(../images/menu/son_hover.png) no-repeat 26px 22px;}

/* iframe */
#container {
	float:right;

}
#main {
	margin:10px 0 0 10px;
}
iframe {
	
}