/*头部*/
#login_header {
	background:#ffffff;
	width:100%;
	height:60px;
	line-height: 60px;
}
.login_center {
	width:980px;
	margin:0 auto;
	height:100%;
}
#login_header .title {
	float:left;
	height:100%;
}
#login_header img.logo{
	height:39px;
	width:39px;
	margin: 10px 0 0 5px;
	float:left;
}
#login_header h1 {
	color:#767676;
	font-size:18px;
	float:right;
	margin:0 0 0 4px;
}
/*登陆框*/
#login_body {
	width:100%;
	height:470px;
	background-image: url(../images/body_bg.jpg)
}
.login_div {
	width:300px;
	min-height:350px;
	float:right;
	margin:54px 0 0 0;
	background:#fafafa;
}
.login_div h1 {
	font-size:18px;
	width:270px;
	margin:22px auto;
}
.login_div .form_text,.login_div .code{
	height:40px;
	border-radius: 5px;
	border:1px solid #dddddd;
	font-size:18px;
	color:#767676;
	text-indent:5px; 
}
.login_div .form_text {
	width:270px;
	margin:15px auto;
	display: block;
}
.login_div .code {
	width:150px;	
	margin:0 0 0 15px;
	text-indent:5px; 
}
.login_div img.verify {float:right;margin:0 15px;width:100px;height:40px;}
.login_div label {float:left;margin:15px 0 0 15px;color:#888888;}
.login_div a {float:right;margin:15px 15px 0 0;color:#888888;}
#login {width:270px;font-size:19px;color:#fff;background:#1fb5ad;height:40px;margin:15px 0 0 15px;border-radius: 5px;}
.error_info{color:#ff0000;margin:15px 0 0 15px;width:270px;word-break:break-all;font-size:14px;}


/*重置密码*/
#login_body .forgot_div {width:100%;margin:200px 0 0 0;float:left;}
#login_body .forgot_div .form{margin:0 auto;width:700px;text-align:center;}
#login_body .forgot_div .form label {color:#777775;font-size:17px;margin:0 5px 0 0;}
#login_body .forgot_div .form input.email {width:150px;border-radius:5px;background:#212026;color:#767676;width:270px;height:40px;text-indent:5px;font-size:18px;}
#login_body .forgot_div .form button {font-size:18px;width:120px;height:40px;border-radius:5px;margin:0 0 0 10px;}
#login_body .forgot_div .form #reset_pwd {color:white;background:#1fb5ac;}
#login_body .forgot_div .form .cancel{color:#656565;background:#434248;}
#login_body .forgot_div .form h5{margin:10px 0 0 73px;color:red;display:none;}
#login_body .forgot_div .form h1 {font-size:20px;}
#login_body .forgot_div .form #login {margin:15px 0 0 0;display:inline-block;width:120px;height:40px;line-height:40px;}

/*底部*/
#login_footer,#login_footer .urls li a {height:270px;font-size:14px;color:#7f7f7f;}
#login_footer .urls {padding:35px 0 0 0;float:left;}
#login_footer .urls ul {width:100%;float:left;margin:10px 0 0 0;}
#login_footer .urls li {display:inline-block;float:left;margin:0 0 0 65px;}
#login_footer .urls li.first {display:inline-block;float:left;margin:0 0 0 5px;}
#login_footer .info {margin:45px 0 0 0;float:left;}