/*iframe里的容器*/
#container {
	margin:0 10px 0 10px;
	height:100%;
	/*overflow:hidden;*/
}
/*头部*/
#header {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	height:50px;
	border-bottom:1px solid #eff2f7;
	background:#fafafa;
	position:relative;
	margin-top:10px;
	min-width: 1024px;
	max-width:1920px;
}

#header h2 {
	color:#767676;
	font-size:15px;
	float:left;
	margin-top:18px;
	margin-left:20px;
}
/*添加商品进度条*/
#header .plan{
	width:520px;
	height:30px;
	position:absolute;
	left:50%;
	top:10px;
	margin-left:-260px;
}

#header .order_tab{
	width:510px;
	height:30px;
	position:absolute;
	left:50%;
	top:10px;
	margin-left:-180px;
}
#header .order_tab li {
	display:inline-block;
	float:left;
	margin-left:5px;
	width:80px;
	text-align:center;
	line-height:30px;
	color:#767676;
	font-size:14px;
}
#header .order_tab li.init {
	width:90px;
	background:url(../images/markIco.jpg) no-repeat center right;	
}
#header .order_tab li.active {
	border-bottom:5px solid #3dc5b7;	
}

#header .plan li {
	display:inline-block;
	float:left;
	margin-left:10px;
	width:120px;
	background:#eeeeee;
	text-align:center;
	border-radius:15px;
	height:30px;
	line-height:30px;
	color:#b2b2b2;
	font-size:14px;
}
#header .plan li.active {
	color:#fff;
	background:#1fb5ac;
}


/*按钮样式*/
#header .group_button {
	position: absolute;
	top:8.5px;
	right:20px;

}
#header .group_button button {
	color:#fff;
	font-size:14px;
	width:100px;
	height:33px;
	border-radius: 5px;
	margin-left:10px;
}
#header .group_button a {
	color:#fff;
	font-size:14px;
	width:100px;
	height:33px;
	border-radius: 5px;
	display:block;
	margin-left: 10px;
	line-height:33px;
	text-align:center;
}
#header .group_button .cancel {background:#b0b5b9;float:left;}
#header .group_button .cancel:hover {background:#767676;}
#header .group_button .delete {background:#ff0000;float:left;}/*ffacac*/
#header .group_button .disabled{background:#ffacac;float:left;}
#header .group_button .delete:hover {background:#e10000;}
#header .group_button .confirm {background:#3dc5b7;float:right;}
#header .group_button .confirm:hover{background:#029992;}
/*添加按钮*/
#header .group_button a.add {
	color:#fff;
	font-size:14px;
	width:100px;
	height:33px;
	border-radius: 5px;
	display:block;
	background:#3dc5b7;
	text-align:center;
	line-height:33px;
}
#header .group_button a.add:hover{background:#029992;}

/*内容*/
#content {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	float:left;
	background:#fff;
	width:100%;
	min-width: 1024px;
	max-width:1920px;
}

/*列表的表单层*/
#content #handle {
	width:100%;
	color:#767676;
	display:inline-block;
}
#handle .left_group {
	float:left;
	margin-left:20px;	
}
#handle .right_group {
	float:right;
	margin-right:20px;	
}

#content #handle .select {
	color:#767676;
	height:33px;
	border:1px solid #dcdcdc;
	border-radius:5px;
	float:left;
	background:#fff;
	line-height:33px;
	/*padding:8px 0;*/
	font-size:13px;
	margin-top:10px;
}

#content #handle .type_select {
	margin-left:15px;
}

#content #handle .text {
	height:31px;
	border:1px solid #dcdcdc;
	border-radius:5px;
	margin-left:15px;
	color:#767676;
	text-indent:5px;
	margin-top:10px;
}

#content #handle .search_text {
	width:320px;
	float:left;
}
#handle div.order_time {
	float:left;	
	font-size:14px;
}
#handle div.amount,#handle div.order_time {
	float:left;	
	font-size:14px;
	margin-right:10px;
	margin-left:10px;
	margin-top:10px;
}

#handle div.amount #max_amount{margin-left:0px!important;}
select.pattern,select.form,select.mail{width:90px!important;}
div.amount input.text {margin-top:0px!important;}
select.mail {margin-left:15px;}
select.pattern{margin-right:10px;}
#content #handle button{
	width:82px;
	height:33px;
	border:1px solid #dcdcdc;
	background:#fff;
	border-radius:5px;
	margin:10px 0 0 15px;
	float:left;
	color:#767676;
}
#content #handle #import {width:95px;}
#content #handle .download_url{color:#767676;display:block;float:left;margin:15px 0 0 15px;}
#content #handle .download_url:hover{color:#21b4ae;}
#content #handle #endtime,#content #handle #startime{margin-top:0px!important;}
#content #handle button:hover {background:#eee;}
/*列表table*/
#content div.list {padding:0 20px 20px 20px;margin-top:10px;}

#content div.list table {
	color:#767676;
	width:100%;
	border-radius: 5px;
	border:1px solid #dcdcdc;
}

/*#content div.list table tr {border-bottom:1px solid #dcdcdc;}*/
#content div.list table tr th {text-align:left;}
#content div.list table tr th,#content div.list table tr td {
	border-right:1px solid #dcdcdc;
	height:35px;
	text-indent:10px;
	border-top:1px solid #dcdcdc;
	font-size:13px;
}
#content div.list table th.handle{width:15%;}
table a.detail{color:#767676;}
#content div.list table select.handle{
	border:1px solid #dcdcdc;
	border-radius: 5px;
	color:#767676;
	width:80px;
	height:30px;
	line-height:30px;
	font-size:13px;
}
#content div.list table tfoot button{
	width:120px;
	height:30px;
	border:1px solid #ddd;
	background:#fff;
	border-radius:5px;
	color:#5d6373;	
}
#content div.list table tfoot button:hover{background:#eee;}


/*表单样式*/
#content .form_container {
	margin:30px auto;
	width:860px;
	overflow:hidden;
}

/*展示详情页样式*/
#content .detail_list{
	width:858px;
	border:1px solid #ddd;
	border-bottom:none;
	border-radius: 5px;
	color:#767676;
	float:left;
	font-size:14px;
}

#content .detail_list div.detail_row {
	border-bottom:1px solid #ddd;
	float:left;
	width:100%;
	line-height:38px;
}
#content .detail_list div.name {
	float:left;
	text-indent:20px;
	width:200px;
}
#content .detail_list div.detail {float:left;text-indent:20px;border-left:1px solid #ddd;min-height:38px;}
#content .detail_list ul.goods_detail li {line-height:30px;}
/*添加数据表单样式*/
#content .form_div {
	width:515px;
	float:left;
}

.form_list,.form_div .error_list,.order_form .error_list {
	  width: 100%;
	  height: 37px;
	  line-height: 37px;
	  margin-top: 15px;
	  clear: both;
}
.form_list {color:#767676;}
.error_list {display:none;}

#content .form_div .error_div,.order_form .error_div,.attr_list .error_div {
	color:#ff1e00;
	background:#fcdfd2;
	border:1px solid #fbcfbb;
	border-radius: 5px;
	width:400px;
	height:35px;
	line-height:35px;
	font-size:14px;
	text-indent: 10px;
	margin-left:110px;
}

.attr_list .form_list {
	margin:0;
	width:100%;
	height:35px;
	line-height:35px;
}

/*#content .form_list label.name,.attr_list label.name,.goods_list label.name {*/
label.name{
	color:#767676;
	width:100px;
	text-align:right;
	display:inline-block;
	float:left;
	font-size:13px;
}

#content .form_list .text{
	width:400px;
	background:#fff;
	height:35px;
	margin-left:10px;
	border:1px solid #dedede;
	border-radius:5px;
	text-indent:10px;
	display:inline-block;
	float:left;	
	color:#767676;
	font-size:13px;
}

#content .form_list .select{
	width:402px;
	line-height:35px;
	background:#fff;
	height:37px;
	margin-left:10px;
	border:1px solid #dedede;
	border-radius:5px;
	text-indent:10px;
	display:inline-block;
	float:left;	
	color:#767676;	
	padding:8px 0;
	font-size:13px;
}

/*添加订单里的商品列表*/
#content .order_form {width:520px;margin:30px auto;overflow:hidden;}
div.goods_list {width:100%;line-height:37px;position:relative;min-height:37px;margin-top:15px;}
.goods_list ul{display:inline-block;color:#767676;margin-left:10px;min-height:37px;}
.goods_list li {
	display:inline-block;
	float:left;
	width:180px;
	font-size:14px;
	position:relative;
	margin-right:5px;
	border-radius:5px;
	background:#fff;
	cursor:pointer;
	text-indent:10px;
}
.goods_list li.active{background:#ddd;}
.goods_list li img.delete {
	position:absolute;
	right:5px;
	top:13px;
	cursor:pointer;	
}
.goods_list li img.mail {
	position:absolute;
	right:5px;
	top:10px;
	cursor:pointer;	
}
.goods_list button {
	background:url(../images/add.png) no-repeat 7px 8px;
	height:32px;
	width:32px;
	border:1px solid #dedede;
	position:absolute;
	right:7px;
	top:3px;
}

/*预览页的样式*/
#content .form_list .info{
	width:400px;
	background:#fff;
	margin-left:15px;
	display:inline-block;
	float:left;	
	color:#767676;
	font-size:13px;
	word-break: break-all;
}
#content .form_list .time_info{
	background:#fff;
	height:35px;
	margin-left:10px;
	text-indent:10px;
	display:inline-block;
	float:left;	
	color:#767676;
	font-size:13px;
	width:280px;
}
#content .form_list .time_info .startime{float:left;}
#content .form_list .time_info .endtime{float:right;}
/*预览页的样式结束*/

#content .form_list .select option {
	border-radius:5px;
	color:#767676;	
}

#content .form_list .time {
	width:183px;
	background:#fff;
	height:35px;
	border:1px solid #dedede;
	border-radius:5px;
	text-indent:10px;
	color:#767676;
}
#content .form_list .time:hover{cursor:pointer;}
#content .form_list #startime {margin-left:10px;}
#content .form_list input.radio {
	margin-left:10px;	
}
#content .form_list input.false {
	margin-left:50px;	
}
#content .form_list label.radio_name {
	color:#767676;
	font-size:13px;	
}

/*上传图片*/
#content .upload_div {
	/* height:350px; */
	width:250px;
	float:right;
}
#content .upload_div .img {
	height:287px;
	border-radius:5px;
	text-align:center;
	border:1px solid #ddd;
	line-height:285px;
	color:#777777;
}
#content .upload_div .img img {
	width:100%;
	height:100%;
}
#content .upload_div #change_img {
	margin-top:9px;
	text-align:center;
	width:80px;
	height:35px;
	border-radius:5px;
	background:#fff;
	border:1px solid #ddd;
	float:left;
	color:#777777;
} 

#content .upload_div .error_div{
	color:#ff1e00;
	background:#fcdfd2;
	border:1px solid #fbcfbb;
	border-radius: 5px;
	width:248px;
	height:35px;
	line-height:35px;
	font-size:14px;
	text-indent: 10px;
	float:left;	
	display:none;
}
#content .upload_div p {
	width:150px;
	margin-left:20px;
	margin-top:17px;
	font-size:14px;
	color:#767676;
	display:inline-block;
	float:right;
}

#content .upload_div .handle {
	width:100%;
	height:53px;
	margin-top:5px;	
}


/*资源扩展*/
.resource_button {margin-left:10px;display:inline-block;float:left;}
.resource_button li{
	float:left;
	display:inline-block;
	height:35px;
	line-height:35px;
	border:1px solid #ddd;
	border-radius:5px;
	width:60px;
	text-align:center;
	background:#fff;
	margin-left:23px;
	color:#767676;
}

/*有些第一个的元素不算边距*/
.first {margin:0!important;}
.resource_button li.active {background:#eee;}
.resource_button li:hover,#content .upload_div #change_img:hover {background:#eee;cursor: pointer;}
.attr_list {float:left;width:100%;margin-bottom:15px;margin-top:15px;}
.attr_list a {color:#8d8d8d;margin-left:10px;font-size:13px;}
.attr_list a:hover{color:#21b4ae;}
.attr_list .error_list {margin-top:15px;}
/*编辑资源属性*/
#content .attr_name {
	float:left;
	margin-left:110px;
	border:1px solid #ddd;
	border-bottom:none;
	width:748px;
	height:50px;
	line-height:50px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
#content .attr_name h2 {
	font-size:18px;
	color:#767676;
	text-align:center;
	float:left;
	width:80px;
}
#content .attr_name .name,#content .attr_name div.name_detail {
	border-radius:5px;
	margin:5px auto;
	resize: none;
	color:#767676;
	font-size:14px;
	text-indent:15px;
	line-height:40px;
	float:left;
	width:400px;
	height:40px;
}
#content .attr_name textarea.name {display:none;border:1px solid #ddd;resize:none;}
#content .attr_name div.name,#content .attr_name div.name_detail {display:block;word-break:break-all;border:none;}
#content .attr_name div.name:hover{background:#ddd;}
#content .editor_div {color:#767676;margin-left:110px;float:left;}
/*属性编辑器样式*/
#content .editor_div #attr_content {
	height:200px;
	display:block;
	float:left;
	margin-left:1px;
}
/*属性展示div*/
#content .editor_div #attr_detail {
	width:748px;
	display:block;
	float:left;
	border:1px solid #ddd;
	font-size:14px;
	text-indent:20px;
	/*padding:20px;*/
	line-height:30px;
	min-height:193px;
}

/*展示页的资源列表table*/
#content .resource_detail{
	float:left;
	width:100%;
	margin-top:15px;
}
#content .resource_detail label.name {
	color:#767676;
	width:100px;
	text-align:right;
	display:inline-block;
	float:left;
	font-size:13px;	
}

#content .resource_detail div.resource_list {
	float:left;
	margin-left:10px;	
	width:750px;
}
#content .resource_detail div.resource_list table {
	width:100%;
	text-align:left;
	text-indent:20px;
	border:1px solid #dcdcdc;
	color:#767676;
}
#content .resource_detail div.resource_list table tr th {text-align:left;}
#content .resource_detail div.resource_list table tr th,#content .resource_detail div.resource_list table tr td {
	border-right:1px solid #dcdcdc;
	height:35px;
	text-indent:5px;
	border-bottom:1px solid #dcdcdc;
	font-size:13px;
}
#content .resource_detail div.resource_list table th.handle{width:9%;}
/*展示页的资源列表结束*/


/*提交成功页样式开始*/
#content .success {
	height:800px;
	color:#5a646e;
	font-size:20px;
	text-align:center;	
}
#content .welcome h1{
	color:#767676;
	font-size:20px;
	text-align:center;
	height:400px;
	line-height:400px;
	font-size:25px;
}
#content .success h1 {padding-top:90px;}
/*提交成功页样式结束*/

/*分页样式*/
div.page {
	color:#767676;
	height:38px;
	line-height:38px;
}
div.page .page_info {float:left;}
div.page .page_handle {float:right;margin-right:10px;}
div.page .page_handle input {width:30px;height:30px;border:1px solid #ddd;border-radius:5px;text-align:center;line-height:30px;color:#767676;}
div.page .page_handle span {color:#5c6272;}
div.page .page_handle button {background:#fff;border:1px solid #ddd;border-radius:5px;width:30px!important;height:30px;}
div.page .page_handle button:hover{background:#eee;}

/*弹窗样式*/
#dialog {
	height:100%;
	width:100%;
	background:black;
	opacity:0.5;
	position:absolute;
	z-index:1;	
	display:none;
	top:0;
}

/*选择资源和选择商品弹窗*/
#change_list {
	width:700px;
	background:#fff;
	z-index:9999;
	position:absolute;
	left:30%;
	top:20%;
	border-radius:5px;
	display:none;
	min-height:100px;
	height:570px;
	overflow:auto;
	margin: auto;    
  	top: 0; left: 0; bottom: 0; right: 0;
}
#change_list .header {
	width:100%;
	border-bottom:1px solid #dcdcdc;
	height:50px;
}
#change_list .header h2 {
	color:#818181;
	font-size:15px;
	margin-left:20px;
	margin-top:18px;
	float:left;
}
#change_list .header .group_button {
	float:right;
	margin-top:8.5px;
	width:130px;
	margin-right:15px;
}
#change_list .header .group_button button{
	width:60px;
	height:33px;
	color:#fff;
	border-radius:5px;
}
/*弹窗里的按钮样式*/
#change_list .header .group_button button.cancel{background:#b0b5b9;float:left;}
#change_list .header .group_button button.cancel:hover{background:#767676;}
#change_list .header .group_button button.confirm{background:#3dc5b7;float:right;}
#change_list .header .group_button button.confirm:hover{background:#029992;}

#change_list .content {
	width:100%;
	min-height:65px;
	float:left;
}
#change_list .content .handle {
	width:100%;
	float:left;
	margin-top:10px;
	margin-bottom: 10px;
}
#change_list .content .handle .left_group {
	float:left;
	margin-left:20px;	
}
#change_list .content .handle .right_group {
	float:right;
	margin-right:20px;	
}

#change_list .content .handle .select {
	height:37px;
	color:#767676;
	border:1px solid #dcdcdc;
	border-radius:5px;
	float:left;
	background:#fff;
	line-height:35px;
	padding:8px 0; 
}

#change_list .content .handle .text {
	height:35px;
	color:#767676;
	border:1px solid #dcdcdc;
	border-radius:5px;
	margin-left:15px;
}

#change_list .content .handle .search_text {
	width:320px;
	float:left;
}
#change_list .content .handle button,#change_list .content .handle a.location{
	width:82px;
	height:37px;
	color:#767676;
	border:1px solid #dcdcdc;
	background:#fff;
	border-radius:5px;
	float:left;
	font-size:14px;
	margin-left:15px;
}
#change_list .content .handle button:hover,#change_list .content .handle a.location:hover{background:#eee;}
#change_list .content .handle a.location{
	display:block;
	text-align:center;
	line-height:35px;
	height:35px;
}

#change_list .content div.list {
	padding:0 20px 20px 20px;
	font-size:13px;
	overflow: hidden;
	margin-top:10px;
}

#change_list .content div.list table {
	color:#767676;
	width:100%;
	border-radius: 5px;
	border:1px solid #dcdcdc;
	border-bottom:none;
}
#change_list .content div.list table tr th {text-align:left;}
#change_list .content div.list table tr th,#change_list .content div.list table tr td {
	border-right:1px solid #dcdcdc;
	height:35px;
	text-indent:10px;
	border-bottom:1px solid #dcdcdc;
}
#change_list .content div.list table tr td .checkbox {
	background:#fff;
	margin:0 auto;
	display:block;
}
/*弹窗样式结束*/

/*选择物流信息弹窗开始*/
#change_list .content .company_info {
	width:650px;
	float:left;
	color:#767676;
	margin-top:14px;
	margin-left:25px;
	font-size:14px;
}
#change_list .content .company_info label {
	height:37px;
	line-height:37px;
	display:inline-block;
	float:left;	
}
#change_list .content .company_info .username {
	float:left;
	height:37px;
	line-height:37px;
	min-width:98px;
	text-align: left;	
}
#change_list .content .company_info .company_list {
	float:right;	
	margin-left:20px;
}
#change_list .content .company_info .company_list select {
	width:110px;
	height:37px;
	border:1px solid #ddd;
	border-radius:5px;
	padding:8px 0;
	color:#767676;
	margin-left:8px;
	text-indent:5px;
}

#change_list .content .company_info .company_num {
	float:right;
	margin-left:10px;
}

#change_list .content .company_info .company_num input {
	width:220px;
	height:37px;
	border:1px solid #ddd;
	border-radius:5px;	
	margin-left:8px;
	text-indent:10px;
}
/*选择物流信息弹窗结束*/

/*物流订单底部操作样式开始*/
.email_handle {
	float:left;
	line-height:38px;
}

.email_handle label{color:#767676;}
.email_handle label:hover{color:red;cursor:pointer;}
.email_handle button.disabled{background:#eee!important;}
.email_handle button {
	width:100px;
	height:30px;	
	color:#777;
	background:#fff;
	border:1px solid #ddd;
	border-radius:5px;
	margin-left:10px;
}
.email_handle button:hover {background:#eee;}
/*物流订单底部操作样式结束*/
.selectime:hover,select,#header .order_tab li:hover{cursor: pointer;}
td a:hover{color:#1fb5ad;};